/* ===== POPPINS GOOGLE-FONTS CDN ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* ===== BOOTSTRAP-ICON */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* ===== ROOT ===== */
:root {
     --main:#fbb13c;
     --main-dark:rgb(255, 128, 0);
     --text:#333;
     --text-dark:#fff;

     interpolate-size: allow-keywords;
}



/* ===== Hidden scroll ===== */
*::-webkit-scrollbar {
     display: none;
}

/* ===== BODY ===== */
body {
     font-family: "poppins" ,Arial, Helvetica, sans-serif !important;
     color: var(--text) !important;
}

/* ===== active class ===== */
.active {
     left: 0%;
}

/* ===== table history transactions ===== */
.table-data table td {
     padding: 0.8rem 1.5rem;
     border-bottom: 0.1rem solid #999;
}

.table-data {
     overflow-x: scroll;
}

.table-body tr:nth-child(even) p {
     background-color: rgb(144, 215, 38);
     cursor: pointer;
     &:hover {
           background-color: rgb(112, 170, 25);
     }
}



/* ===== MEDIA-QUERIES ===== */
@media (max-width:768px) {
     html {
          font-size: 95%;
     }
}
@media (max-width:249px) {
     .blocked {
          display: flex !important;
          justify-content: center;
     }

}

